.loginpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://img.freepik.com/premium-photo/white-balloons-gray-background-birthday-party-new-year-background_52701-1254.jpg");

  background-size: cover;
}

.wrapper {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  margin-top: 10px;
  display: block;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.pass-link {
  text-align: right;
}

input[type="checkbox"] {
  margin-right: 5px;
  width:50px;
}

.field input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width:200px;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}
